/* Navbar base styles */


@media(max-width:400px) {
    body {
        margin: 0;

        padding: 0;
    }

   

    .Navbar {
        position: sticky;
        top: 0;
        /* background-color: #fff; */
        z-index: 1000;
        /* padding: 10px 20px; */
        /* box-shadow: 0px 0px 1px 1px; */
    }

    .Navbar .nav-content {
        display: flex;
        border: none;
        justify-content: space-between;
        align-items: center;
          background-color: #6683ae;
            color: #ffffff;
        padding: 10px 12px;
    }

    .Navbar .nav-content h3 {
        margin-left: 5px;
        color: #ffffff;
    }

    .nav-btn {
        text-decoration: none;
        margin-right: 5px;
        /* border: 1px solid rgba(255, 255, 255, 0.2); */
        padding: 3px;
        padding-block: 5px;
        border-radius: 3px;
        background-color: teal;
        color: white;
    }
}